table{
    border-collapse: separate; 
    border-spacing: 10px;       
    width: 100%;    
}
td {
  background-color: white;
  border-radius: 20px;  
  vertical-align: top;
}
tr{
    height: 510px;
}
td:hover{ /*Pseduo-Classes*/
    background-color:darkslategrey !important;
}